<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交流社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/community.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="questionDTO:${pageNavigationDTO.questionDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${questionDTO.user.headimageUrl}?${questionDTO.user.headimageUrl}:'https://avatars0.githubusercontent.com/u/33218795?v=4'">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/' + ${questionDTO.id}}"><h4 class="media-heading" th:text="${questionDTO.title}"></h4></a>
                    <span th:text="${questionDTO.description}"></span><br>
                    <span class="text-font"><span th:text="${questionDTO.user.name}"></span>发起了问题 • <span th:text="${questionDTO.likeCount}?${questionDTO.commentCount}:0"></span> 人关注 •
                        <span th:text="${questionDTO.commentCount}?${questionDTO.commentCount}:0"></span>个回复 •
                        <span th:text="${questionDTO.viewCount}?${questionDTO.commentCount}:0"></span>次浏览 •
                        <span th:text="${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span></span>
                </div>
                <hr>
            </div>
            <nav aria-label="Page navigation" class="pagination-align">
                <ul class="pagination">
                    <li>
                        <a th:if="${pageNavigationDTO.showFirst}" href="/" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${pageNavigationDTO.previous}" th:href="@{/(page=${pageNavigationDTO.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pageNavigationDTO.pages}"
                        th:class="${pageNavigationDTO.page==page}?'active':''"><a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li>
                        <a th:if="${pageNavigationDTO.next}" th:href="@{/(page=${pageNavigationDTO.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${pageNavigationDTO.showEnd}" th:href="@{/(page=${pageNavigationDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>