<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/Community.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--     问题       -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${questionDTO.title}"></span></h4>
                <span class="text-font">
                    作者：<span th:text="${questionDTO.user.name}"></span> |
                    发布时间：<span th:text="${#dates.format(questionDTO.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span> |
                    阅读数：<span th:text="${questionDTO.viewCount}?${questionDTO.viewCount}:0"></span>
                </span>
                <hr>
                <span th:text="${questionDTO.description}"></span>
                <hr>
                <a th:if="${session.user!=null && session.user.id==questionDTO.user.id}" th:href="@{'/publish/' + ${questionDTO.id}}" class="edit-font"> <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> 编辑</a>
                <hr>
            </div>
            <!--回复-->
            <h4>
                <span th:text="${questionDTO.commentCount}"></span>个回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment:${comments}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" th:src="${comment.user.headimageUrl}?${comment.user.headimageUrl}:'https://avatars0.githubusercontent.com/u/33218795?v=4'">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading" th:text="${comment.user.name}?${comment.user.name}:'游客'"></h6>
                        <div th:text="${comment.content}"></div>
                        <div style="color: #999999;margin-top: 5px;">
                            <span class="glyphicon glyphicon-thumbs-up reply-icon" style="margin-right: 5px;"></span>
                            <span class="glyphicon glyphicon-comment reply-icon" ></span>
                            <span style="float: right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                        </div>

                    </div>

                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
            <!--回复框-->
            <h4>发表评论</h4>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" th:src="${questionDTO.user.headimageUrl}?${questionDTO.user.headimageUrl}:'https://avatars0.githubusercontent.com/u/33218795?v=4'">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading" th:text="${questionDTO.user.name}?${questionDTO.user.name}:'游客'"></h6>
                    </div>
                </div>
                <input type="hidden" name="questionId" id="questionId" th:value="${questionDTO.id}">
                <textarea class="form-control comment" rows="6" id="commentContent"></textarea>
                <button type="button" class="btn btn-success btn-reply" onclick="reply()">回复</button>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h5>发起人</h5>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" th:src="${questionDTO.user.headimageUrl}?${questionDTO.user.headimageUrl}:'https://avatars0.githubusercontent.com/u/33218795?v=4'">
                    </a>
                </div>
                <div class="media-body">
                    <h6 class="media-heading" th:text="${questionDTO.user.name}"></h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>